.department-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 20px;
}

.department-container-card {
  width: 19rem;
}

.department-container-img {
  height: 350px;
  object-fit: cover;
  overflow: hidden;
}

.copyright-msg {
  margin: 0;
  padding: 0;
  color: rgb(120, 120, 120);
  text-align: center;
}
.page-nav-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-nav-btn {
  width: 150px;
  margin: 15px;
}

.form-select:focus {
  border-color: #ced4da;
  outline: none;
  box-shadow: none;
}

.items-per-page {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}

.items-per-page span {
  font-weight: 500;
  margin-right: 5px;
}

.department-container-card-body {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#custom-switch-1 {
  box-shadow: 0 0 6px 1px grey;
}

#custom-switch-2 {
  box-shadow: 0 0 6px 1px grey;
}

.check-boxes {
  display: flex;
  gap: 10px;
  font-size: 16px;
  font-weight: 600;
}
